---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="text-center mt-6">
  <a href={getPostLink(post.Slug)} class="btn-secondary inline-block">続きを読む →</a>
</div>
