---
import { Icon } from 'astro-icon/components';
---

<button class="btn-ghost open-search-modal flex w-full mb-2 justify-start" type="button">
  <Icon name="octicon:search-24" class="w-5 h-5 mr-1" />
  <span>Search</span>
</button>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    function handleKeydown(event) {
      if (event.keyCode === 75 && event.metaKey) {
        // Ctrl+K or Cmd+K
        document.querySelector('.open-search-modal').click()
      }
    }

    document.addEventListener('keydown', handleKeydown)
  })
</script>
