---
export interface Props {
  delay?: number
  class?: string
}

const { delay = 0, class: className, ...props } = Astro.props
const delayClass = delay > 0 ? `[animation-delay:${delay * 100}ms]` : ''
const classes = ['animate-fade-in-up opacity-0', delayClass, className].filter(Boolean).join(' ')
---

<div class={classes} {...props}>
  <slot />
</div>